@{
    ViewData["Title"] = "Signin";
    Layout = "_Layout";
}

<div class="d-404">
    <div class="d-404-title">
        <h1>پرداخت شما موفقیت آمیز نبود!</h1>
    </div>
    <div class="d-404-actions">
        <a href="/" class="d-404-action-primary">صفحه اصلی</a>
    </div>

</div>